<style>
  #tags {
    text-align: center;
  }

  .tags-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }

  .tags-label {
    display: inline-block;
    background-color: var(--botticelli);
    color: var(--tiber);
    border: 1px solid var(--white);
    padding: 6px 18px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: var(--white);
      color: var(--cornflower-blue);
    }
  }

  .tags-checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    opacity: 0;

    &:checked + .tags-label {
      background-color: var(--white);
      color: var(--cornflower-blue);
    }
  }

  .tags-activity-count {
    font-size: 0.8em;
    vertical-align: text-bottom;
  }

  .gift {
    &:hover {
      cursor: pointer;
      text-shadow: #FFDD22 0px 0 20px;
    }
  }
</style>
<main>
  <div id="tags">
    <%= form_with(url: draw_activity_path) do |form| %>
      <div class="tags-container">
        <%= form.collection_checkboxes :tag_ids, @tags, :id, :label do |tag| %>
          <div>
            <%= tag.check_box class: "tags-checkbox" %>
            <%= tag.label class: "tags-label" do |_| %>
              <%= tag.object.label %>&nbsp;<span class="tags-activity-count"><%= "(#{tag.object.activities.size})" %></span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="gift-container">
        <div class="gift-shadow"></div>
        <%= form.submit "ðŸŽ", class: "gift" %>
      </div>
    <% end %>
  </div>
</main>