<style>
  .button, .spacer {
    margin-top: 20px;
  }
</style>
<section>
  <p style="color: green"><%= notice %></p>
  <%= link_to "Back to activities", activities_path %>
  <div class="spacer">
    <%= render @activity %>
  </div>
  <div>
    <%= link_to "Edit this activity", edit_activity_path(@activity), class: "button" %>
    <%= button_to "Destroy this activity", @activity, method: :delete, class: "button" %>
  </div>
</section>